.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    align-items: center;
    &:not(:first-child) {
      margin-top: 8px;
    }

    $btnSize: 16px;
    .addBtn:not(.disabled) {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      :global {
        svg {
          width: $btnSize;
          height: $btnSize;
          path {
            fill: $globalPrimaryColor;
          }
        }
      }
    }

    .deleteBtn:not(.disabled) {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      :global {
        svg {
          width: $btnSize;
          height: $btnSize;
          path {
            fill: $globalRedColor;
          }
        }
      }
    }

    .disabled {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: not-allowed;
      :global {
        svg {
          width: $btnSize;
          height: $btnSize;
          path {
            fill: $disabledColor;
          }
        }
      }
    }
  }
}
