.container {
  $borderRadius: 8px;

  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: $borderRadius;
  border: 1px solid rgba(5, 5, 5, 0.1);

  .title {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(5, 5, 5, 0.1);
    font-size: 14px;
    color: #444444;
    font-weight: 600;
    background-color: #fcfcfc;
    padding: 0 20px;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }

  .content {
    width: 100%;
    padding: 24px 20px;
  }

  .actions {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed rgba(5, 5, 5, 0.1);

    :global {
      svg {
        width: 18px;
        height: 18px;
        cursor: pointer;

        path {
          fill: #aaaaaa;
        }
      }
    }
  }

  .codeBlockBox {
    width: 100%;
    border-top: 1px dashed rgba(5, 5, 5, 0.1);
    .codeBlockContent {
      border-bottom: 1px solid rgba(5, 5, 5, 0.1);
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      position: relative;
      &:hover {
        border: 1px solid $globalPrimaryColor;
      }

      .copyBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        position: absolute;
        top: 16px;
        right: 20px;
        cursor: pointer;

        &:hover {
          background-color: #eeeeee;
        }

        :global {
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .footer {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: $greyTextColor;
      font-weight: 300;
      cursor: pointer;

      &:hover {
        color: $globalPrimaryColor;
      }

      :global {
        svg {
          width: 14px;
          height: 14px;
          margin-right: 4px;
        }
      }
    }

    :global {
      .ant-tabs {
        .ant-tabs-nav {
          margin: 0 !important;
          padding: 0 8px !important;
        }
      }
    }
  }
}
